service vendor.power.stats-hal /odm/bin/hw/android.hardware.power.stats-service.kona
    interface aidl android.hardware.power.stats::IPowerStats/default
    class hal
    user system
    group system
