on post-fs-data
    mkdir /data/oculus 0750 system system
    mkdir /data/oculus/perfstream 0750 system system

service perfstream /system_ext/bin/perfstream
    class main
    user system
    group system readproc
    task_profiles ServiceCapacityLow ServicePerformance
