service oculus-hardware-telemetry-1-0 /system_ext/bin/hw/vendor.oculus.hardware.telemetry@1.0-service
    interface vendor.oculus.hardware.telemetry@1.0::IDeviceTelemetry default
    class hal
    user system
    group system
