# Set constellation to Jedi; Olympus controllers are supported, but
# are self-tracked
nice_constellation = "jedi"

[perf]
# Hints to wake IotMotion up on the same core as SBEventHandler for
# better cache locality.
wake_affine_iot = true
