# Following configs are parsed by OVR:OS::Thread::PriorityFixture at construction.
# The fixture exists as a singleton in process where it is called; all instances
# use the configs in this file.

# This thread priority fixture uses Realtime (SCHED_FIFO) for all tracking engines
# and sensor service. This was POR on Quest 1, 2, Pro. Since Quest 3, tracking enignes
# use SCHED_NORMAL while cameras continue to use SCHED_FIFO

[syncbossWorkerPriority]
policy = "Realtime"
value = 52

[headsetPosePriority]
policy = "Realtime"
value = 50

[controllerPosePriority]
policy = "Realtime"
value = 50

[cameraWorkerPriority]
policy = "Realtime"
value = 48

[controllerWorkerPriority]
policy = "Realtime"
value = 48

[motionStreamerPriority]
policy = "Realtime"
value = 48

[controllerStreamerPriority]
policy = "Realtime"
value = 48

[cameraStreamerPriority]
policy = "Realtime"
value = 47

[backgroundPriority]
policy = "Normal"
value = 139
affinity = "11110000"

[computePriority]
policy = "Batch"

[normalPriority]
policy = "Normal"
value = 120

[isochronousPriority]
policy = "Realtime"
value = 1
affinity = "11110000"

[latencyCriticalPriority]
policy = "Realtime"
value = 48
affinity = "11110000"

[graphicsCriticalPriority]
policy = "Realtime"
value = 49
affinity = "00000001"
